.folder {
  @include flex(flex-start, center);
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  padding: 1rem 2rem;
  user-select: none;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  svg {
    color: rgb(233, 233, 233);
    font-size: 2rem;
    margin-right: 1.6rem;
    margin-top: -2px;
  }
  &-name {
    font-size: 1.6rem;
    font-weight: 500;
  }
  &:hover,
  &.active {
    background-color: rgba(69, 127, 202, 0.5);
  }
}
